@import "tailwindcss";

@theme {
  --font-sans: var(--font-body);
  --font-display: var(--font-display);
}

@layer base {
  body {
    font-family: var(--font-sans);
  }

  h1, h2, h3, .font-display {
    font-family: var(--font-display);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
